---
title: NELLE
---

<!doctype html>
<html lang="en" data-theme="nelle-dark" class="bg-primary">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>{{ title }}</title>
</head>

<body class="lg:container mx-auto py-12">
  <header class="mb-8">
    <div class="text-slate-300">
      <p class="text-4xl border-b-2 border-b-red-700 max-w-fit pr-4">NELLE</p>
      <p class="text-md">Norwegian-English Language Learning Exchange</span>
    </div>
  </header>
  <main data-theme="nelle-light" class="bg-primary-content py-16">{{ content | safe }}</main>
</body>

</html>